.profile-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
    padding: 1rem; 
    width: 45rem;
    border: 5px solid rgb(56, 58, 90);
    background-color: black;
}

.card-body{
    width: 10rem;
    background-color: rgb(56, 58, 90); 
    color: ghostwhite;   
}

.card-img{
    width: auto;
}

div > h6{
    color: ghostwhite;
}

.form-inline{
    width: 40%;
}

#buttonDiv{
    display: flex;
    flex-direction: row;
}