.profile-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
    padding: 1rem; 
    width: 45rem;
    border: 2px solid black;
    background-color: burlywood;
}

.card-body{
    width: 10rem;
    background-color: goldenrod;    
}

.card-img{
    width: auto;
}
