.buttonCSS{
    background-color: black;
}

#iconDiv{
    display: flex;
    justify-content: flex-end;
    
}

#cardBodyDiv{
    display: flex;
    flex-direction: column;    
}

#descriptionEntry{
    width: 50%;
}

#formFilemd{
    width: 45%;
}